/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles 
------------------------------------*/
body {
    background: #dce1ea;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a {
    color: blueviolet;
    text-decoration:none;
}
a:hover {
    color:black;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.col-narrow{
    width: 30%;
    float: left;
    min-height: 175px;
}
.col-wide{
    width: 70%;
    float: left;
    padding-left: 20px;
    min-height: 175px;
}

h2,h1 {
    font-family: 'Caveat', cursive;
    font-weight: 100;
}
h1 {
    font-size: 60px;
}

h2{
    font-size: 30px;
    margin-top: 0;
}
.profile-img{
    border-radius: 50%;    
}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 30px;
    overflow: auto;
}

/* Header & Footer 
------------------------------------*/
header,footer {
    background: #2B2D42;
    color: beige
}

/* header */
header {
    text-align: center;
}

header h1,header h2 {
    color: EDF2F4;
    margin: 0;
}


/*footer*/
footer {
    text-align: center;
}
.contact-info a{
    margin: 10px;
}




/* Work Experience
------------------------------------*/
.work-experience {
    background: #EDF2F4;
}


/* Education
------------------------------------*/
.education {
    background: #8D99AE;
}